.movies_form {
  margin-bottom: 40px;

  display: flex;
  justify-content: center;
  height: 40px;
}

.movies_form input {
  border-top-left-radius: var(--global-radius);
  border-bottom-left-radius: var(--global-radius);

  width: 100%;
  max-width: 400px;

  background: transparent;

  border: 2px solid #666;
  outline: none;
  border-right: none;

  padding: 15px 10px;

  font-size: 20px;
  color: var(--bright-color);
}

.movies_form input:focus {
  border-color: #aaa;
}

.movies_form button {
  border-top-right-radius: var(--global-radius);
  border-bottom-right-radius: var(--global-radius);
  display: block;
  height: 100%;
  background: var(--bright-color);
  padding: 0 10px;

  color: #222;

  text-transform: capitalize;
}
