.top-films-link {
  display: block;
  height: 100%;
}

.top-films-link img,
.poster-placeholder {
  border-radius: var(--global-radius);
  border: 2px solid;
}

.top-films-link > .title {
  margin-top: 10px;
  color: aquamarine;
}

.poster-placeholder {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 748px) {
  .poster-placeholder {
    height: 341px;
  }
}
